{% extends "index.html" %}

{% block content %}

<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="mt-5">Welcome to my movie library</h1>
       <p class="lead">Check out the most popular movies!</p>
   </div>
   <div class="col-lg-12 mb-4">
    {% for list_type in list_types %}
    <a href="{{ url_for('homepage', list_type=list_type) }}" class="{% if selected_list==list_type %}active{% endif %} btn btn-outline-info">{{ list_type.replace('_', ' ').title() }}</a>
    {% endfor %}
   </div>
   {% for movie in movies %}
   <div class="col-lg-3 col-md-6 mb-4 text-center">
       <div class="card h-100">
           <img class="card-img-top" src="{{ tmdb_image_url(movie.poster_path, 'w342') }}" alt="">
           <div class="card-body">
               <h4 class="card-title">{{ movie.title }}</h4>
           </div>
           <div class="card-footer text-center">
                <a class="btn btn-primary" href="{{ url_for('movie_details', movie_id=movie.id) }}">Show more</a>
           </div>
       </div>
   </div>
   {% endfor %}
</div>

{% endblock %}